html,body {
    height: 100%;
}
.wrapper{
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.container{
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (max-width: 767px){
    .container{
        max-width: none;
    }
}
.full {
    margin: 0 auto;
}
/*---------- base end ----------*/
.control_color
{
    background-color: #55415f;
}
.control
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
}

.control-list {
    display: flex;
    list-style: none;
}
.control-list__item
{
    font-family: Georgia, serif;
    padding-left: 3px;
}
.control-list__item a
{
    font-family: Georgia, serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.2px;
    letter-spacing: 0.8pt;
    color: #fff;
}
.control-list__item:after
{
    font-family: Georgia, serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.2px;
    padding-left: 3px;
    content: '|';
    color: #fff;
}
.control-list__item:last-child:after
{
    display: none;
}

.header-side
{
    display: flex;
    height: 130px;
    justify-content: space-between;
    align-items: center;
}
.name__title
{
    font-family: Georgia, serif;
    font-weight: 400;

    text-transform: uppercase;

    color: #000;
}
.name__title span:first-child
{
    font-size: 36px;
    line-height: 36px;
}
.name__title span:last-child
{
    font-size: 26px;
    line-height: 26px;
}
/*---------------*/
.name__description
{
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

    padding-top: 10px;

    color: #999;
}
.navigation
{
    display: flex;
    height: 27px;
    list-style: none;
    border-bottom: 1px solid #ebebeb;
}
.navigation__item
{
    padding-right: 20px;
}
.navigation__item:last-child
{
    padding-right: 0;
}
.navigation__item a
{
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #333;
    border-bottom: 2px solid rgba(85, 65, 95, 0);
}
.navigation__item a:hover,
.navigation__item.active a
{
    border-bottom: 2px solid #55415f;
}
/*---------- banner section ----------*/
.banner
{
    position: relative;
    height: 420px;

    background-color: #ebebeb;
}
.banner-slider
{
    position: relative;

    height: 420px;
}
.banner-slider__item
{
    display: flex;
    padding: 0 5px;
    width: 100%;
    height: 420px;
    justify-content: space-between;
    align-items: center;
}
.banner-slider-img
{
    max-height: 100%-20px;
    margin-top: 26px;
}
.banner-text
{
    margin-left: 88px;
}
.banner-text__title
{
    font-family: Georgia, serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;

    text-transform: uppercase;

    color: #333;
}
.banner-text__description
{
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;

    padding-top: 28px;

    color: #999;
}
.banner-text__btn
{
    display: flex;

    width: 140px;
    height: 31px;
    margin-top: 18px;

    border-radius: 6px;
    background-color: #55415f;

    justify-content: center;
    align-items: center;
}
.banner-text__btn
{
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 17px;

    text-transform: uppercase;

    color: #fff;
}
/*---------------*/
.arrow-left
{
    position: absolute;
    z-index: 20;
    bottom: 16px;
    left: calc(50% - 460px);
}
.arrow-right
{
    position: absolute;
    right: calc(50% - 460px);
    bottom: 16px;
}
/*---------- services ----------*/
.services {
}
.services-container
{
    display: flex;
    height: 230px;
    margin: 30px auto 0 auto;
}
.services-item
{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    align-items: center;
}
.services-item__picture
{
    width: 64px;
    height: 64px;
}
.services-item__title
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;

    padding-top: 10px;

    color: #55415f;
}
.hr
{
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    margin: 10px 0;
}
.services-item__description
{
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23.4px;

    margin-top: 5px;
    padding: 0 15px;

    text-align: center;

    color: #807d77;
}
/*---------- shout ----------*/
.shout
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    width: 50%;
    /*width: 879px;*/
    height: 48px;
    margin: 30px auto 0;

    text-align: center;
    /*----view----*/

    color: #222;
}
/*---------- work ----------*/
.work-container
{
    display: flex;

    margin: 39px auto 20px;

    justify-content: space-between;
}
.work-item
{
    /*width: 225px;*/
}
.work__title
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #7f7d77;
}
.work__img
{
    flex: 1 0 25%;
    /*width: 225px;*/
    /*width: 100px;*/
    height: 140px;
    margin-top: 20px;
}
.work__description
{
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20.8px;

    margin-top: 20px;
    padding: 0 40px 0 5px;
    color: #807d77;
}
.work__link
{
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;

    display: block;

    margin-top: 15px;

    color: #55415f;
}
/*---------- footer ----------*/
.footer
{
    padding-top: 30px;
    background-color: #222;
}
.footer-row
{
    display: flex;
}
.footer-item {
    flex: 1 0 25%;
}
.latest
{
    display: flex;
    flex-direction: column;
}
.latest__name
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;

    padding-bottom: 28px;

    color: #fff;
}
.latest__title
{
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 15.6px;

    color: #9f81a9;
}
.latest__date
{
    font-family: Georgia, serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;

    padding-top: 8px;

    color: #807d77;
}
.latest__description
{
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;

    padding-top: 14px;

    letter-spacing: 0.8px;

    color: #807d77;
}
/*---------------*/
.link {
    margin-left: 20px;
}
.link__name
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 25px;

    color: #fff;
}
.link__list
{
    list-style: none;
}
.link__item a
{
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

    color: #9f80a9;
}
.link__item a:before
{
    padding-right: 11px;

    content: '»';
}
/*---------------*/
.details
{
    display: flex;
    flex-direction: column;
}
.details-name
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;

    padding-bottom: 25px;

    color: #fff;
}
.details-text
{
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;

    color: #807d77;
}
.details p
{
    padding-bottom: 15px;
}
.details-text__email
{
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.2px;

    color: #9f81a9;
}
/*---------------*/
.newsletter__name
{
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;

    padding-bottom: 33px;

    color: #fff;
}
.form-control
{
    display: flex;
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20.58px;

    height: 31px;
    margin-bottom: 10px;
    padding-left: 10px;

    color: rgba(128, 125, 119, 1);
    border: none;
    border-radius: 5px;
    background-color: #353535;
}
.form-control.input.focus
{
    font-style: normal;

    color: #d3d7d9;
}
.form-control.input.err
{
    box-shadow: 0 0 5px #f06;
}
.btn
{
    font-family: Georgia, serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20.58px;

    width: 80px;
    height: 31px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #9f81a9;
}
.social
{
    display: flex;

    margin-top: 20px;
}
.social a
{
    display: block;

    width: 32px;
    height: 32px;
    margin-right: 10px;

    border-radius: 50%;
    background-color: #353535;
}
.social__item
{
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}
/*---------------*/
.copyright
{
    display: flex;

    height: 40px;
    margin-top: 20px;

    border-top: 1px solid #3a3a3a;

    justify-content: space-between;
    align-items: center;
}
.copyright span
{
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

    color: #807d77;
}
/*=================================*/
@media (max-width: 1030px){
    .container{
        max-width: 970px;
    }
    .navigation__item {
        padding-right: 10px;
    }
    .navigation__item a{
        font-size: 10px;
    }
}
/*==================================*/
@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
}
